@model IEnumerable<CMS.Models.Table>

@{
    ViewBag.Title = "Index";
}

<br><br><br><h2>Add new assignment</h2>

<p>
 <h3> <center> <font color="yellow"  face="times new roman"> @Html.ActionLink("Create New", "Create")</center><h3>
</p>
